html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.error {
  font-size: 14px;
  color: red;
}

.success {
  font-size: 14px;
  font-weight: bold;
  color: green;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal {
  width: 50%;
  height: 50%;
  border: 2px solid #000;
  background-color: white;
  padding: 16px 32px 24px;
}

.image-container, .upload-file-button {
  display: flex;
  justify-content: center;
}

.post-container > section {
  padding: 12.5px;
  margin: 0 auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-items: center;
  place-content: center;
  gap: 1rem;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
}

.card-image {
  border-radius: 10px;
}

p {
  font-size: 15px;
}

.user:hover,
.user:focus,
.user:active, u{
  color: #0070f3;
  border-color: #0070f3;
  cursor: pointer;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 14px;
}

.top-level-navigation {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
}

@media only screen and (max-width: 1250px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    justify-items: center;
    place-content: center;
    gap: 1rem;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    justify-items: center;
    place-content: center;
    gap: 1rem;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  .title {
    font-size: 27px;
  }
  .modal {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    background-color: white;
    padding: 16px 32px 24px;
  }
  .modal-header > h1{
    font-size: 25px;
  }
}